td {
    text-align: center;
    border-color: black;
}
.small {
    font-size: small;
}
td.stats {
    color: red;
}
td.tests {
    color: green;
}
table tr:hover {
    background-color: #f0e68c;
}
table tr:hover>th , table tr:hover>td.header {
    background-color: white;
}
table {
    width: 100%;
}