<tr>
    <td class="small">{%index%}</td>
    <td>{%age%}</td>
    <td>{%sex%}</td>
    <td>{%race%}</td>
    <td>{%origin%}</td>
    <td class="tests">{%tests/endurance%}</td>
    <td class="tests">{%tests/fitness%}</td>

    <td class="tests">{%tests/dexterity%}</td>
    <td class="tests">{%tests/memory%}</td>

    <td class="tests">{%tests/curiosity%}</td>
    <td class="tests">{%tests/savvy%}</td>

    <td class="tests">{%tests/even_tempered%}</td>
    <td class="tests">{%tests/leadership%}</td>

    <td>{%psi/aggro%}</td>

    <td class="stats">{%stats/str%}</td>
    <td class="stats">{%stats/dex%}</td>
    <td class="stats">{%stats/int%}</td>
    <td class="stats">{%stats/wpw%}</td>

    <td>
        {%health/base%}
    </td>
    <td>{%health/vision%}</td>
    <td class="small">{%health/disabled%}</td>

    <td class="small"> {%letter1%}+{%letter2%} </td>
    <td class="small">{%color/eye%}</td>
    <td class="small">{%color/hair%}</td>

</tr>