<!DOCTYPE HTML>
<html>
<head>
    <title></title>
    <meta charset='UTF-8'>
    <link rel="stylesheet" href="">
    <style type="text/css"></style>
</head>
<body>

<table border="1" width="100%">
    <tr>
        <td>
            #
        </td>
        <td>
            Age
        </td>
        <td>
            Sex
        </td>
        <td>
            Race
        </td>
        <td>
            Origin
        </td>
        <td>

        </td>
    </tr>
    {%____npc_list%}
</table>

</body>
</html>